# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*index-backup.html
index-backup.html
learn-backup.html
about-backup.html
